@model Berber_Otomasyon.Models.ViewModels.RegisterViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <h2>Müşteri Hesabı Oluştur</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="KullaniciAdi" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="KullaniciAdi">Kullanıcı Adı</label>
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="KullaniciSoyadi" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="KullaniciSoyadi">Kullanıcı Soyadı</label>
                <span asp-validation-for="KullaniciSoyadi" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Password">Şifre</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="ConfirmPassword">Şifreyi Tekrarla</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Kaydol</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
